/* Center image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Align horizontally home's images */
.home-image-column {
    float: left;
    width: 33.3%; /* 100% / 3 figures = 33.3% */
}

/* Align horizontally /community/team's image */
.community-team-image-column {
    float: left;
    width: 20%; /* 100% / 5 figures = 20% */
}